<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ResetPassword_Controller</servlet-name>
        <servlet-class>Controller.ResetPassword_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminApproveServlet</servlet-name>
        <servlet-class>Controller.AdminApproveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword_Controller</servlet-name>
        <url-pattern>/reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminApproveServlet</servlet-name>
        <url-pattern>/admin_approve</url-pattern>
    </servlet-mapping>
</web-app>
