<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login_controller</servlet-name>
        <servlet-class>Controller.Login_controller</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Reset_password_controller</servlet-name>
        <servlet-class>Controller.Reset_password_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_approve_servlet</servlet-name>
        <servlet-class>Controller.Admin_approve_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_controller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset_password_controller</servlet-name>
        <url-pattern>/reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_approve_servlet</servlet-name>
        <url-pattern>/admin_approve</url-pattern>
    </servlet-mapping>
</web-app>
